.login-component {
    background: #ff6a00;
    background: linear-gradient(0deg, #ff6a00 0%, #ee0979 100%);
    height: 100vh;
    display: flex;
    margin: auto;
}

.card-img-left {
    width: 45%;
    /* Link to your background image using in the property below! */
    background-image: url("https://static.vecteezy.com/system/resources/previews/010/895/986/non_2x/sport-motorbike-illustration-design-free-vector.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}

.btn-google {
    color: white !important;
    background-color: #ea4335 !important;
}

.btn-facebook {
    color: white !important;
    background-color: #3b5998 !important;
}
