.login-component {
    background: #007bff;
    background: linear-gradient(to right, #0062e6, #33aeff);
    height: 100vh;
    display: flex;
    margin: auto;
}

.card-img-left {
    width: 45%;
    /* Link to your background image using in the property below! */
    background-image: url("https://source.unsplash.com/WEQbe2jBg40/414x512");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}

.btn-google {
    color: white !important;
    background-color: #ea4335 !important;
}

.btn-facebook {
    color: white !important;
    background-color: #3b5998 !important;
}
